<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<%= stylesheet_link_tag 'top' %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<% content_for :title, "距離を計算する" %>

<div class="container">
  <div id="error-message" class="hidden alert alert-error flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
    <span id="error-text"></span>
  </div>

  <div id="routeSearchForm">
    <div class ="inputForm">
      <div><i class="fa-solid fa-circle fa-lg" style="color: #0084ff;"></i><input id="inputBegin", type="text" placeholder="出発地" class="input input-bordered input-accent w-full max-w-xs" /></div>
      <div><i class="fa-solid fa-location-dot fa-xl" style="color: #d75050;"></i><input id="inputEnd", type="text" placeholder="目的地" class="input input-bordered input-accent w-full max-w-xs" /></div>
    </div>
    <div class="flex flex-col">
      <div class="form-control w-52">
        <label class="cursor-pointer label">
          <span class="label-text">高速道路を使用</span> 
          <input type="checkbox" class="toggle toggle-secondary" checked />
        </label>
      </div>
    </div>
      <button id="searchButton", class="btn btn btn-accent">検索</button>
      <div id="routeInfo">
        <i class="fa-solid fa-car fa-xl" style="color: #d75050;"></i>
        <span id="routeDetails"></span>
      </div>

      <%= button_to "決定", {}, {method: :get, id: "confirmButton", class: "btn btn btn-accent fixed-button"} %>

  </div>
</div>


<div id="map_canvas"></div>
<div id="directionsPanel"></div>


<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_map_api_key %>&callback=initMap"></script>