<%= stylesheet_link_tag 'extra' %>

<div id="new_form">
  <%= form_with(model: extra, url: extras_path, local: true) do |f| %>
    <%= render 'shared/error_messages', object: extra %>

      <div class="new_button">
        <div class="field">
          <div><%= f.label :category %></div>
          <%= f.text_field :category, class:"input input-bordered input-accent w-full max-w-xs"%>
        </div>

        <div class="field">
          <div><%= f.label :amount %></div>
          <%= f.number_field :amount,  class:"input input-bordered input-accent w-full max-w-xs"%>
        </div>
        <p class="field-yen">円</p>

        <div class="actions">
          <%= f.submit '追加',  class:"btn btn-active btn-accent"%>
        </div>
      </div>
  <% end %>
</div>
