<%= stylesheet_link_tag 'extra' %>

<%= form_with(model: extra, url: extras_path, local: true) do |f| %>
  <% if extra.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(extra.errors.count, "error") %> prohibited this extra from being saved:</h2>
        <ul>
          <% extra.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

    <div class="new_button">
      <div class="field">
        <div><%= f.label :category %></div>
        <%= f.text_field :category, class:"input input-bordered input-accent w-full max-w-xs"%>
      </div>

      <div class="field">
        <div><%= f.label :amount %></div>
        <%= f.number_field :amount,  class:"input input-bordered input-accent w-full max-w-xs"%>
      </div>
      <p class="field-yen">円</p>

      <div class="actions">
        <%= f.submit '追加',  class:"btn btn-active btn-accent"%>
      </div>
    </div>
<% end %>
