<%= stylesheet_link_tag 'extra' %>
<% content_for :title, "計算結果" %>
<% content_for :back_path, highway_highways_path %>

<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <tbody>
      <tr id="total-amount", class="text-2xl">
        <th>合計</th>
        <th class="right-align"><%= display_number(@total_amount) %>円</th>
      </tr>
      <!-- row 1 -->
      <tr id="gasoline-cost", class="text-xl font-bold">
        <td>ガソリン代金</td>
        <td class="right-align"><%= display_number(@result) %>円</td>
      </tr>
      <!-- row 2 -->
      <tr id="total-distance-result">
        <td>距離</td>
        <td class="right-align"><%= display_number(@total_distance) %>km</td>
      </tr>
      <!-- row 3 -->
      <tr id="fuel-efficiency-result">
        <td>燃費</td>
        <td class="right-align"><%= display_number(@fuel_efficiency) %>L/km</td>
      </tr>
      <!-- row 4 -->
      <tr id="price-per-liter-result">
        <td>ガソリン単価</td>
        <td class="right-align"><%= display_number(@price_per_liter) %>L/円</td>
      </tr>
      <!-- row 1 -->
      <tr id="highway-cost", class="text-xl font-bold">
        <td>高速料金</td>
        <td class="right-align"><%= display_number(@highway_cost) %>円</td>
      </tr>
      <!-- row 2 -->
      <tr id="start-place-result">
        <td>出発IC : <%= @start_place %></td>
        <td></td>
      </tr>
      <!-- row 3 -->
      <tr  id="arrive-place-result">
        <td>到着IC : <%= @arrive_place %></td>
        <td></td>
      </tr>
      <!-- row extra -->
      <% @extras.each do |extra| %>
        <%= render partial: 'extra', locals: { extra: extra } %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="modal-extra">
  <!-- The button to open modal -->
  <label for="my_modal_7" class="btn btn-active btn-accent text-xl">＋</label>

  <!-- Put this part before </body> tag -->
  <input type="checkbox" id="my_modal_7" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <h3 class="text-base">費用を追加する</h3>
      <%= render 'form_new', extra: Extra.new %>
    </div>
    <label class="modal-backdrop" for="my_modal_7">Close</label>
  </div>
</div>




<div id="bottomSheet" class="fixed bottom-0 left-0 right-0 bg-white p-4 rounded-t-lg shadow-lg transform transition-transform duration-300 ease-in-out" style="height: 20%; bottom: 0;">
  <%= render "splits/form" %>
  <button id="arrowButton" class="absolute top-0 right-0 p-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-10 h-10">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
    </svg>
  </button>
</div>
