<%= stylesheet_link_tag 'extra' %>
<% content_for :title, t('extras.index.title') %>
<% content_for :back_path, highway_highways_path %>
<meta name="turbo-visit-control" content="reload">

<div style="text-align: right;">
  <button class="btn btn-sm btn-link" id="start"><%= t('common.instructions') %></button>
</div>

<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <tbody>
      <tr id="total-amount", class="text-2xl">
        <th><%= t('extras.index.total') %></th>
        <th class="right-align" id="total_amount"><%= display_number(@total_amount) %><%= t('common.yen') %></th>
      </tr>
      <!-- row 1 -->
      <tr id="gasoline-cost", class="text-xl font-bold">
        <td><%= t('gasolines.gasoline_cost') %></td>
        <td class="right-align"><%= display_number(@result) %><%= t('common.yen') %></td>
      </tr>
      <!-- row 2 -->
      <tr id="total-distance-result">
        <td><%= t('activemodel.attributes.gasoline.total_distance') %></td>
        <td class="right-align"><%= display_number(@total_distance) %>km</td>
      </tr>
      <!-- row 3 -->
      <tr id="fuel-efficiency-result">
        <td><%= t('activemodel.attributes.gasoline.fuel_efficiency') %></td>
        <td class="right-align"><%= display_number(@fuel_efficiency) %>L/km</td>
      </tr>
      <!-- row 4 -->
      <tr id="price-per-liter-result">
        <td><%= t('activemodel.attributes.gasoline.price_per_liter') %></td>
        <td class="right-align"><%= display_number(@price_per_liter) %>L/<%= t('common.yen') %></td>
      </tr>
      <!-- row 1 -->
      <tr id="highway-cost", class="text-xl font-bold">
        <td><%= t('highways.highway.highway_cost') %></td>
        <td class="right-align"><%= display_number(@highway_cost) %><%= t('common.yen') %></td>
      </tr>
      <!-- row 2 -->
      <tr id="start-place-result">
        <td><%= t('highways.highway.start_place') %> : <%= @start_place %></td>
        <td></td>
      </tr>
      <!-- row 3 -->
      <tr  id="arrive-place-result">
        <td><%= t('highways.highway.arrive_place') %> : <%= @arrive_place %></td>
        <td></td>
      </tr>
      <!-- row extra -->
      <% @extras.each do |extra| %>
        <%= render partial: 'extra', locals: { extra: extra } %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="modal-extra">
  <!-- The button to open modal -->
  <label for="my_modal_7" class="btn rounded-full btn-active btn-accent text-xl" 
    data-tg-order="0" data-tg-tour='ガソリン代金と高速料金以外の費用を<br>追加できます。'>＋</label>

  <!-- Put this part before </body> tag -->
  <input type="checkbox" id="my_modal_7" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <h3 class="text-base"><%= t('extras.index.add_cost') %></h3>
      <%= render 'form_new', extra: Extra.new %>
    </div>
    <label class="modal-backdrop" for="my_modal_7">Close</label>
  </div>
</div>




<div id="bottomSheet" class="fixed bottom-0 left-0 right-0 bg-white p-4 rounded-t-lg shadow-lg transform transition-transform duration-300 ease-in-out" style="height: 20%; bottom: 0;">
  <div id="split-container-wrapper">
    <%= render partial: 'splits/form', locals: { total_amount: @total_amount } %>
  </div>
  <button id="arrowButton" class="absolute top-0 right-0 p-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-10 h-10">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
    </svg>
  </button>
</div>


<div id="js-placeholder"></div>
