<% content_for :title, "計算結果" %>


<h3 id="total-amount">合算金額: <span class="result"><%= @total_amount %></span>円</h5>

<h5 id="gasoline-cost">ガソリン代金 <span class="result"><%= @result %></span>円</h5>
<p id="total-distance-result">距離: <span class="detail"><%= @total_distance %></span>km</p>
<p id="fuel-efficiency-result">燃費: <span class="detail"><%= @fuel_efficiency %></span>L/km</p>
<p id="price-per-liter-result">ガソリン単価: <span class="detail"><%= @price_per_liter %></span>L/円</p>

<h5 id="highway-cost">高速料金: <span class="result"><%= @highway_cost %></span>円</h5>
<p id="start-place-result">出発IC: <span class="detail"><%= @start_place %></span></p>
<p id="arrive-place-result">到着IC: <span class="detail"><%= @arrive_place %></span></p>

<%= render @extras %>

<%= link_to 'New Extra', new_extra_path %>

<div>
<%= render "splits/form" %>
</div>