<%= turbo_frame_tag favorite_location do %>
  <%= favorite_location.name %>

  <%= favorite_location.address %>

  <div>
    <%= link_to 'Edit', edit_favorite_location_path(favorite_location) %>
    <%= button_to "Destroy", favorite_location, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>