<div id="<%= dom_id favorite_location %>">
  <p>
    <strong>User:</strong>
    <%= favorite_location.user_id %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= favorite_location.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= favorite_location.longitude %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= favorite_location.name %>
  </p>

</div>
