<%= stylesheet_link_tag 'favorite_location' %>

<%= turbo_frame_tag favorite_location do %>
  <div>
    <i class="fa-solid fa-star" style="color: #fad905;"></i><%= favorite_location.name %>
  </div>
  <div>
    <%= favorite_location.address %>
  </div>

  <div class="edit-destroy-button">
    <%= link_to edit_favorite_location_path(favorite_location), class:"btn btn-xs btn-active btn-success" do %>
      <i class="fa-regular fa-pen-to-square fa-lg" style="color: #ffffff;"></i>
    <% end %>
    <%= button_to favorite_location, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-xs btn-active btn-secondary" do %>
      <i class="fa-regular fa-trash-can fa-lg" style="color: #ffffff;"></i>
    <% end %>
  </div>
<% end %>