<%= stylesheet_link_tag 'favorite_location' %>

<%= form_with(model: favorite_location, local: false) do |form| %>
  <% if favorite_location.errors.any? %>
    <div style="color: red">

      <ul>
        <% favorite_location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, class:"input input-bordered input-accent w-full max-w-xs", placeholder: "自宅"%>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address, class:"input input-bordered input-accent w-full max-w-xs", placeholder: "東京都〇〇区..."%>
  </div>

  <div class="form-button">
    <%= form.submit class:"btn btn-active btn-accent" %>
    <%= link_to "Back", favorite_locations_path, class:"btn btn-primary"%>
  </div>
<% end %>
