<%= stylesheet_link_tag 'favorite_location' %>

<%= form_with(model: favorite_location, local: false) do |form| %>
  <% if favorite_location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(favorite_location.errors.count, "error") %> prohibited this favorite_location from being saved:</h2>

      <ul>
        <% favorite_location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <i class="fa-solid fa-star" style="color: #fad905;"></i><%= form.label :name %>
    <%= form.text_field :name, class:"input input-bordered input-accent w-full max-w-xs"%>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address, class:"input input-bordered input-accent w-full max-w-xs" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-active btn-accent" %>
    <%= link_to "Back", favorite_locations_path, class:"btn btn-primary" %>
  </div>
<% end %>
