<%= form_with(model: favorite_location) do |form| %>
  <% if favorite_location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(favorite_location.errors.count, "error") %> prohibited this favorite_location from being saved:</h2>

      <ul>
        <% favorite_location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :latitude, style: "display: block" %>
    <%= form.number_field :latitude %>
  </div>

  <div>
    <%= form.label :longitude, style: "display: block" %>
    <%= form.number_field :longitude %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
