<%= stylesheet_link_tag 'favorite_location' %>

<% content_for :title, t('favorite_locations.index.title') %>
<% content_for :back_path, root_path %>


<div class="container">
  <p class="favo-index"><%= t('favorite_locations.index.subtitle') %></p>
  <div class="favo-table">
    <% 3.times do |index| %>
      <div class="favorite-list">
        <div id="favorite_location_<%= index %>">
          <% favorite_location = @favorite_locations[index] %>
          <% unless favorite_location %>
            <p class="location-name-bef"><i class="fa-solid fa-star fa-spin fa-spin-reverse" style="color: #ffc800;"></i><%= t('favorite_locations.index.favorite_point', index: index + 1) %></p>
          <% end %>
          <% if favorite_location %>
            <%= render favorite_location %>
          <% else %>
            <%= render "new_button", index: index %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
