<%= stylesheet_link_tag 'favorite_location' %>

<% content_for :title, "お気に入り地点" %>
<% content_for :back_path, root_path %>


<div class="container">
  <p class="favo-index">お気に入り地点一覧</p>
  <% 3.times do |index| %>
    <div id="favorite_location_<%= index %>">
      <p><i class="fa-solid fa-star" style="color: #fad905;"></i>お気に入り地点<%= index + 1 %></p>
      <% favorite_location = @favorite_locations[index] %>
      <% if favorite_location %>
        <%= render favorite_location %>
      <% else %>
        <%= render "new_button", index: index %>
      <% end %>
    </div>
  <% end %>
</div>
