<p style="color: green"><%= notice %></p>

<%= render @favorite_location %>

<div>
  <%= link_to "Edit this favorite_location", edit_favorite_location_path(@favorite_location) %> |
  <%= link_to "Back to favorite_locations", favorite_locations_path %>

  <%= button_to "Destroy this favorite_location", @favorite_location, method: :delete %>
</div>