<!DOCTYPE html>
<html>
  <head>
    <title>Kouheisan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--/extrasのみturbo無効 -->
    <% if request.path == '/extras' || request.path == '/' %>
      <meta name="turbo-visit-control" content="reload">
    <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/d3b7736f3b.js" crossorigin="anonymous"></script>

    <!--TourGuide JS CDN -->
    <script src="https://unpkg.com/@sjmc11/tourguidejs@0.0.7/dist/tour.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://unpkg.com/@sjmc11/tourguidejs@0.0.7/dist/css/tour.min.css">

  </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M9B4G1LYB9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-M9B4G1LYB9');
    </script>
    

  <body>
    <%= render 'shared/flash_message' %>
    <div id="wrapper">
      <%# if logged_in? %>
        <%= render 'shared/header' %>
      <%# else %>
        <%#= render 'shared/before_login_header' %>
      <%# end %>
      <%#= render 'shared/flash_message' %>
      <main>
          <% flash.each do |key, message| %>
            <div class="<%= key %>">
              <%= message %>
            </div>
          <% end %>
          <%= yield %>
      </main>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
