<!DOCTYPE html>
<html>
  <head>
    <title>Kouheisan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="turbo-visit-control" content="reload">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://kit.fontawesome.com/d3b7736f3b.js" crossorigin="anonymous"></script>
  </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RKEFNC7T2F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RKEFNC7T2F');
    </script>

  <body>
    <%= render 'shared/flash_message' %>
    <div id="wrapper">
      <%# if logged_in? %>
        <%= render 'shared/header' %>
      <%# else %>
        <%#= render 'shared/before_login_header' %>
      <%# end %>
      <%#= render 'shared/flash_message' %>
      <main>
          <%= yield %>
      </main>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
